extends page_layout

block content
  h1 #{title}
  br
  form.form-signin(method='POST', action='/users/login')
    //- img.mb-4(src='https://getbootstrap.com/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
    h1.h3.mb-3.font-weight-normal Please sign in:
    label.sr-only(for='input_username') Username
    input#input_username.form-control(type='text', placeholder='Username', required='', autofocus='')
    label.sr-only(for='input_password') Password
    input#input_password.form-control(type='password', placeholder='Password', required='')
    //- .checkbox.mb-3
    //-   label
    //-     input(type='checkbox', value='remember-me')
    //-     |  Remember me
    br
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
    p.mt-5.mb-3.text-muted © 2017-2018
  br 
  p Content ideas for this page:
  ol
    li TBD
