extends page_layout

block content
  h1 Edit a User
  if user && user.role!='child'
    form(method='POST',action='/users/edit/'+user._id)
      #form-group
        label(for='input_fullname') Full Name:
        input.form-control(class='u-full-width', name='input_fullname', type='text', value=user.fullname)
      br
      #form-group
        label(for='input_username') Username:
        input.form-control(class='u-full-width', name='input_username', type='text', value=user.username)
      br
      #form-group
        label(for='input_email') Email Address:
        input.form-control(class='u-full-width', name='input_email', type='email', value=user.email)
      br
      div
        #form-group.zebra
          label Password:
          input.form-control(name='input_password', type='password')
        #form-group.zebra
          label Confirm Password:
          input.form-control(name='input_password2', type='password')
      br
      input.button.button-primary(type='submit',value='Submit Changes') 
  br
