extends page_layout

block content
  h1 Home Page
  p Content ideas for this page:
  ol
    li List for parents to see all incomplete tasks by Assignees
    li List for parents to see all tasks by Assignees
    li Buttons for parents to Add Tasks or users
    li Home Page only for Parents? Kids get their task list as Home Page?
    
  p Fixes/enhancements for the App:
  ol
    li 
      del Add User registration/Login
    li 
      del Setup messaging feedback and validation for adding tasks
    li Add access control and Roles
    li Add User administration functionality
    li 

    
    
