extends page_layout

block content
  if user && user.role=='child'
    h1 Add a Task for Myself
  if user && user.role=='parent'
    h1 Add a Task for Someone
  form(role='form', method='POST',action='/tasks/add')
    if user && user.role!='child'
      #form-group
      label(for='input_Assigned') Assigned To:
      input.form-control(class='u-full-width', name='input_Assigned', type='text', placeholder='Family Member...')
      br
      br
    #form-group
        label(for='input_Task') Task Name:
        input.form-control(class='u-full-width', name='input_Task', type='text', placeholder='Task To Do...')
    br
    #form-group
        label(for='input_Body') Task Description:
        textarea.form-control(class='u-full-width',name='input_Body', placeholder='More Details...')
    br
    #form-group
        label Due Date:
        input.form-control(name='input_DueDate', type='date')
    br
    input.button.button-primary(type='submit',value='Submit Task') 
  br
