doctype html
html
  head
    title Family Job/To Do App
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src='/js/jquery.js')
    script(type='text/javascript' src='/js/bootstrap.js')
    script(type='text/javascript' src='/js/main.js')
    body.mybgcolor
      .container
        nav.navbar.navbar-expand-md.navbar-dark.mynavbar-color
          //- a.navbar-brand(href='/') Knowledgebase
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarsExampleDefault.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/') Home Page
              if user
                li.nav-item
                  a.nav-link(href='/tasks/view') Task List
                li.nav-item
                  a.nav-link(href='/tasks/add') Add New Task
                if user.role =='parent' || user.role =='admin'
                  li.nav-item
                    a.nav-link(href='/users/view') User List
                  li.nav-item
                    a.nav-link(href='/users/add') Add a User
            ul.navbar-nav.ml-auto
              if user
                li.nav-item
                  a.nav-link(href='/users/logout')= 'Logout '+user.fullname
              //- else
              //-   li.nav-item
              //-     a.nav-link(href='/users/login') User Login
      br
      .container
        != messages('include_msgs', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}  
        block content
        hr
        footer.myfooter
          p.copyright Copyright ©2018 Ted Stark
