extends page_layout

block content
  h1 #{title}
  p Content ideas for this page:
  ol
    li List for parents to see all incomplete tasks by Assignees
    li List for parents to see all tasks by Assignees
    li Buttons for parents to Add Tasks or users
    li Home Page only for Parents? Kids get their task list as Home Page?
    
  p Stuff to do for app
  ol
    li Add User registration/Login
    li Setup messaging feedback and validation
    li Add access control and Roles
    
    
    
