doctype html
html
  head
    title Stark Family Tasks
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton_cust.css')  
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src='/js/jquery.js')
    script(type='text/javascript' src='/js/skeleton.js')
    script(type='text/javascript' src='/js/main.js')
    body
      div.container
        h3 Stark Family Tasks
        nav.navbar(id='myNavBar')
          div.container
            ul.navbar-list
              li.navbar-item-home(id='homeId')
                a.navbar-link(href='/') Home
              if user
                li.navbar-item-left(id='tasksId')
                  a.navbar-link(href='#', data-popover='#codeNavPopover') Tasks
                  #codeNavPopover.popover
                    ul.popover-list
                      li.popover-item
                        a.popover-link(href='/tasks/add') Add a Task
                      li.popover-item
                        a.popover-link(href='/tasks/view/mine') All My Tasks
                      if user.role =='parent'
                        li.popover-item
                          a.popover-link(href='/tasks/view/sean') Sean's Tasks                        
                        li.popover-item
                          a.popover-link(href='/tasks/view/ryan') Ryan's Tasks  
                        li.popover-item
                          a.popover-link(href='/tasks/view') All Tasks
              if user
                if user.role =='parent'
                  li.navbar-item-left(id='usersId')
                    a.navbar-link(href='#', data-popover='#moreNavPopover') Users
                    #moreNavPopover.popover
                      ul.popover-list
                        li.popover-item
                          a.popover-link(href='/users/view') User List
                        li.popover-item
                          a.popover-link(href='/users/add') Add a User
              if user
                li.navbar-item-right(id='logId')
                  a.navbar-link2(href='/users/logout')= 'Logout '+user.fullname
                li.navbar-item-icon(id='iconId')
                  a.navbar-link3(href='javascript:void(0);', onclick='skelNavBar()') &#9776;
              //if !user
              //  li.navbar-item-right
              //    a.navbar-link2(href='#')='Demo'


        br
        != messages('include_msgs', locals)
        if errors
          each error, i in errors
            div.alert.alert-danger #{error.msg}  
        block content
        hr
        footer.myfooter
          p.copyright Copyright ©2018 Ted Stark
