.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.tempnavbaritems {
  margin: 10px;
}
.edititems {
  margin: 10px;
}
.mynavbar-color {
  background-color: indigo;
}
.myfooter{
  background-color: indigo;
}
.copyright{
  color: white;
  font-size: 14px;
}
.mybgcolor{
  background-color: #FFFFF0;
}
a {
  display: inline;
}
.list-group-item-heading{
  font-size: 18px;
}
.btn-xs {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1;
    border-radius: 0.2rem;
    margin-left: 1em;
}
