.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.tempnavbaritems {
  margin: 10px;
}
.edititems {
  margin: 10px;
}
.mynavbar-color {
  background-color: indigo;
}
.myfooter{
  background-color: indigo;
  text-align: center;
}
.copyright{
  color: white;
  font-size: 14px;
}
.mybgcolor{
  background-color: #FFFFF0;
}
a {
  display: inline;
}
.list-group-item-heading{
  font-size: 18px;
}
.btn-xs {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1;
    border-radius: 0.2rem;
    margin-left: 1em;
}
.modal-content {
			background-color: #B28BE1;
		}
		.btn-link {
			color:white;
		}
		.modal-heading h2{
			color:#ffffff;
		}
.mybtn-info-color {
  background-color: indigo;
}
.page-header {
  text-align: center;
  color: indigo;
}
.nav-link {
  color: white !important;
  font-weight: bold;
}
.task-header-big {
  color: indigo;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.task-item-big {
  color: indigo;
  font-size: 32px;
  margin-bottom: 10px;
}
.task-header-small {
  color: indigo;
  font-weight: bold;
  font-size: 22px;
  margin-left: 10px;
}
.task-item-small {
  color: indigo;
  font-size: 22px;
}
.task-body-header {
  color: indigo;
  font-weight: bold;
  font-size: 22px;
  margin-left: 10px;
}
.task-body {
  color: indigo;
  font-size: 22px;
}
.creation-info {
  color: indigo;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}
.homepage-divs {
  text-align: center;
}
  .btns {
    margin-left: 10px;
    margin-right: 10px;
  }
}
